body {
    background-color: rgb(245, 247, 248);
    background-image: url(images/bd.jpg);
    
  }
  
  h1 {
    color: rgb(251, 251, 252);
    margin-left: 20px;
  }
  label{
    color: #f4f4f4;
  }
  input{
    color: #f4f4f4;
  }

  button{
    
    color:rgb(251, 255, 251);
  }
  p{
    color: #f4f4f4;
  }
