mixin navigation
  nav
    a(href="/")
      b Home
    .dropdown
      button( class="dropbtn" ) Countries &#8659;
      .dropdown-content
        a(href="/countries/world") World
        a(href="/countries/continents") Continent
        a(href="/countries/regions") Region

    a(href="/cities") Cities &#8659;

    .dropdown
      button( class="dropbtn" ) Capital Cities  &#8659;
      .dropdown-content
        a(href="/capital_cities") World 
        a(href="/continent_of_capital") Continent 
        a(href="/regions") Region 

    a(href="/about") About 
