mixin navigation
  nav
    a(href="/")
      b Home
    .dropdownn
      button( class="dropbtn" ) Countries &#8659;
      .dropdownn-content
        a(href="/countries/world") World
        a(href="/countries/continents") Continent
        a(href="/countries/regions") Region

    a(href="/cities") Cities &#8659;

    .dropdownn
      button( class="dropbtn" ) Capital Cities &#8659;
      .dropdownn-content
        a(href="/capitalCities/world") World
        a(href="/capitalCities/continents") Continent
        a(href="/capitalCities/regions") Region

    a(href="/about") About
