extends layout.pug

block content
  //- Create a class
  .about-container
    .about-header
      h1 Welcome to my About Page
      p I'm glad you're here!
    //- Create a class
    .about-bio
      img(src="https://picsum.photos/200", alt="Profile Picture")
      p The page was developed by three students Group 10
      p Ion Pruteanu, Yamin Hossan, Abbosbek Abdullaev
    //- Create a class
    .about-skills
      h2 Our Skills
      ul
        li HTML
        li CSS
        li JavaScript
        li Node.js
        li Pug Js
        li MySQL
    //- Create a class
    .about-contact
      h2 Student Ids 
      p PRU20486148, HOS20505803, ABD21498608, 
      