extends layout.pug

block content
  .about-container
    .about-header
      h1 Welcome to my About Page
      p I'm glad you're here!

    .about-bio
      img(src="https://picsum.photos/200", alt="Profile Picture")
      p The page was developed by three students Group 10
      p Ion Pruteanu, Yamin Hossan, Abbosbek Abdullaev

    .about-skills
      h2 My Skills
      ul
        li HTML
        li CSS
        li JavaScript
        li Node.js
        li Pug Js
        li MySQL

    .about-contact
      h2 Student Ids 
      p PRU20486148, HOS20505803, ABD21498608, 

  //- Custom JavaScript goes here