extends layout.pug

block head
  link(rel="stylesheet", href="/cities.css")

block content
  h2 Continents
  table
    thead
      th №
      th Name

    tbody
        include mixins/report
        +cityDistricts(rows)