html
  head
    title My Website

    link(rel="stylesheet", href="/style.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    block head
  body
    .layout
      .layout-nav
        include mixins/nav
        +navigation()
        
      .layout-content
        block content